<launch>
  <arg name="spacing" default="0.4" />
  <arg name="wifi_device" default="wlan1" />
  <arg name="map_file" default="hs_a_2"/>
  <node name="map_server" pkg="map_server" type="map_server" args="/tmp/maps/$(arg map_file).yaml" respawn="false" output="screen" />
  <node name="heatmap_client" pkg="heatmap" type="heatmap_client" respawn="false" output="screen"/>
  <node name="path_planner" pkg="heatmap" type="path_planner.py" respawn="false" output="screen" >
    <param name="coverage_spacing" value="$(arg spacing)" />
  </node>
  <include file="$(find heatmap)/move_base_config/move_base.launch.xml"/>
  <!--include file="$(find heatmap)/move_base_config/amcl.launch.xml"/--> 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find heatmap)/heatmap.rviz" respawn="false" />
  <node name="signal" pkg="heatmap" type="signal" args="$(arg wifi_device)" output="screen" />
</launch>
